# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Automake 'n' stuff
AUTHORS
COPYING
ChangeLog
NEWS
README
INSTALL
LICENSE
aclocal.m4
compile
config.guess
config.h.in
config.h.in~
config.sub
config.status
config.log
configure
install-sh
libtool
ltmain.sh
missing
py-compile
m4
Makefile
Makefile.in
autom4te.cache
stamp-h1
config.h

*/Makefile
*/Makefile.in